<!doctype html>
<html>

<!-- Mirrored from amovie.gozha.net/movie-page-full.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 15 Mar 2019 13:46:23 GMT -->
<head>
	<!-- Basic Page Needs -->
        <meta charset="utf-8">
        <title>AMovie - Movie page</title>
        <meta name="description" content="A Template by Gozha.net">
        <meta name="keywords" content="HTML, CSS, JavaScript">
        <meta name="author" content="Gozha.net">

    <!-- Mobile Specific Metas-->
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="telephone=no" name="format-detection">

    <!-- Fonts -->
        <!-- Font awesome - icon font -->
        <link href="../netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <!-- Roboto -->
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>

    <!-- Stylesheets -->
        <!-- jQuery UI -->
        <link href="../code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" rel="stylesheet">

        <!-- Mobile menu -->
        <link href="../css/gozha-nav.css" rel="stylesheet" />
        <!-- Select -->
        <link href="../css/external/jquery.selectbox.css" rel="stylesheet" />
        <!-- Swiper slider -->
        <link href="../css/external/idangerous.swiper.css" rel="stylesheet" />
        <!-- Magnific-popup -->
        <link href="../css/external/magnific-popup.css" rel="stylesheet" />


        <!-- Custom -->
        <link href="../css/style3860.css?v=1" rel="stylesheet" />

        <!-- Modernizr -->
        <script src="../js/external/modernizr.custom.js"></script>
        {{!-- <script src="js/external/comments.js"></script> --}}


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    	<script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.js"></script>
    <![endif]-->
</head>

<body>
    <div class="wrapper">

        <!-- Header section -->
        <header class="header-wrapper">
            <div class="container">
                <!-- Logo link-->
                <a href='/start' class="logo">
                    <img alt='logo' src="images/logo.png">
                </a>

                <!-- Main website navigation-->
                <nav id="navigation-box">
                    <!-- Toggle for mobile menu mode -->
                    <a href="#" id="navigation-toggle">
                        <span class="menu-icon">
                            <span class="icon-toggle" role="button" aria-label="Toggle Navigation">
                              <span class="lines"></span>
                            </span>
                        </span>
                    </a>

                    <!-- Link navigation -->
                    <ul id="navigation">
                        <li>
                            <span class="sub-nav-toggle plus"></span>
                            <a href="news-left.html">News</a>
                        </li>
                        <li>
                            <span class="sub-nav-toggle plus"></span>
                            <a href="#">Mega menu</a>
                               <ul class="mega-menu container">
                                    <li class="col-md-3 mega-menu__coloum">
                                        <h4 class="mega-menu__heading">Now in the cinema</h4>
                                         <ul class="mega-menu__list">
                                            <li class="mega-menu__nav-item"><a href="#">The Counselor</a></li>
                                            <li class="mega-menu__nav-item"><a href="#">Bad Grandpa</a></li>
                                            <li class="mega-menu__nav-item"><a href="#">Blue Is the Warmest Color</a></li>
                                            <li class="mega-menu__nav-item"><a href="#">Capital</a></li>
                                            <li class="mega-menu__nav-item"><a href="#">Spinning Plates</a></li>
                                            <li class="mega-menu__nav-item"><a href="#">Bastards</a></li>
                                          </ul>
                                      </li>

                                      <li class="col-md-3 mega-menu__coloum mega-menu__coloum--outheading">
                                          <ul class="mega-menu__list">
                                            <li class="mega-menu__nav-item"><a href="#">Gravity</a></li>
                                            <li class="mega-menu__nav-item"><a href="#">Captain Phillips</a></li>
                                            <li class="mega-menu__nav-item"><a href="#">Carrie</a></li>
                                            <li class="mega-menu__nav-item"><a href="#">Cloudy with a Chance of Meatballs 2</a></li>
                                          </ul>
                                      </li>

                                      <li class="col-md-3 mega-menu__coloum">
                                        <h4 class="mega-menu__heading">Ending soon</h4>
                                          <ul class="mega-menu__list">
                                            <li class="mega-menu__nav-item"><a href="#">Escape Plan</a></li>
                                            <li class="mega-menu__nav-item"><a href="#">Rush</a></li>
                                            <li class="mega-menu__nav-item"><a href="#">Prisoners</a></li>
                                            <li class="mega-menu__nav-item"><a href="#">Enough Said</a></li>
                                            <li class="mega-menu__nav-item"><a href="#">The Fifth Estate</a></li>
                                            <li class="mega-menu__nav-item"><a href="#">Runner Runner</a></li>
                                          </ul>
                                      </li>

                                      <li class="col-md-3 mega-menu__coloum mega-menu__coloum--outheading">
                                          <ul class="mega-menu__list">
                                            <li class="mega-menu__nav-item"><a href="#">Insidious: Chapter 2</a></li>
                                          </ul>
                                      </li>
                               </ul>
                        </li>
                    </ul>
                </nav>

                                <!-- Additional header buttons / Auth and direct link to booking-->
                                <div class="control-panel">
                                    <div class="auth auth--home">
                                      <div class="auth__show">
                                        <!-- <span class="auth__image">
                                          <img alt="" src="images/client-photo/auth.png">
                                        </span> -->
                                    </div>{{#if val}}
                                      <a href="#" class="btn btn--sign btn--singin">
                                          {{username}}
                                      </a>
                                      {{/if}}
                                        <ul class="auth__function">
                                            <li><a href="#" class="auth__function-item">Watchlist</a></li>
                                            <li><a href="#" class="auth__function-item">Booked tickets</a></li>
                                            <li><a href="#" class="auth__function-item">Discussion</a></li>
                                            <li><a href="#" class="auth__function-item">Settings</a></li>
                                        </ul>

                                    </div>
                                    <!-- <a href="/start" class="btn btn-md btn--warning btn--book btn-control--home">Book a ticket</a> -->
                                </div>

            </div>
        </header>

        <!-- Search bar -->
        <div class="search-wrapper">
            <div class="container container--add">
                <form id='search-form' method="POST" class="search" action="/list">
                    <input type="text" class="search__field" placeholder="Search" name="ser">
                    <select name="val" id="search-sort" class="search__sort" tabindex="0">
                        <option value="1" selected='selected'>Title</option>
                        <option value="2">Year</option>
                        <option value="3">Director</option>
                        <option value="4">Genre</option>
                    </select>
                    <button type='submit' class="btn btn-md btn--danger search__button">search a movie</button>
                </form>
            </div>
        </div>

        <!-- Main content -->
        <section class="container">
            <div class="col-sm-12">
                <div class="movie">
                    <h2 class="page-heading">{{ title }}</h2>

                    <div class="movie__info">
                        <div class="col-sm-4 col-md-3 movie-mobile">
                            <div class="movie__images">
                                <span class="movie__rating">5.0</span>
                                <img alt='' src="{{cover}}">
                            </div>
                            <div class="movie__rate">Your vote: <div id='score' class="score"></div></div>
                        </div>

                        <div class="col-sm-8 col-md-9">
                            <p class="movie__time">{{duration}}</p>

                            <p class="movie__option"><strong>Country: </strong><a href="#">{{country}}</a></p>
                            <p class="movie__option"><strong>Year: </strong><a href="#">{{year}}</a></p>
                            <p class="movie__option"><strong>Category: </strong><a href="#">{{genre}}</a></p>
                            <p class="movie__option"><strong>Release date: </strong>{{reldate}}</p>
                            <p class="movie__option"><strong>Director: </strong><a href="#">{{director}}</a></p>
                            <p class="movie__option"><strong>Actors: </strong>
                                {{#each cast}}
                                <a href="#">{{this}}</a>
                                {{/each}}

                            </p>
                            <p class="movie__option"><strong>Age restriction: </strong><a href="#">{{ageres}}</a></p>
                            <p class="movie__option"><strong>Box office: </strong><a href="#">{{boxoffice}}</a></p>

                            <a href="#" class="comment-link">Comments:{{comments.length}}</a>

                            <div class="movie__btns movie__btns--full">
                                <!-- <a href="#" class="btn btn-md btn--warning">book a ticket for this movie</a> -->
                                <a href="#" class="watchlist">Add to watchlist</a>
                            </div>

                            <div class="share">
                                <span class="share__marker">Share: </span>
                                <div class="addthis_toolbox addthis_default_style ">
                                    <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
                                    <a class="addthis_button_tweet"></a>
                                    <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <h2 class="page-heading">The plot</h2>

                    <p class="movie__describe">{{plot}}</p>

                    <h2 class="page-heading">photos &amp; videos</h2>

                    <div class="movie__media">
                        <div class="movie__media-switch">
                            <a href="#" class="watchlist list--photo" data-filter='media-photo'>{{images.length}} photos</a>
                            <a href="#" class="watchlist list--video" data-filter='media-video'>{{trailers.length}} videos</a>
                        </div>

                        <div class="swiper-container">
                          <div class="swiper-wrapper">
                              <!--First Slide-->
                              {{#each trailers}}
                              <div class="swiper-slide media-video">
                                <a href='https://www.youtube.com/watch?v={{this}}' class="movie__media-item ">
                                     <img alt='' src="../images/movie/play.png">
                                </a>
                                {{!-- <iframe class="movie__media-item" width="220" height="120" src="https://www.youtube.com/watch?v={{this}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> --}}
                              </div>
                              {{/each}}


                              <!--Third Slide-->
                              {{#each images}}
                              <div class="swiper-slide media-photo">
                                    <a href='../images/movie/{{this}}' class="movie__media-item">
                                        <img alt='' src="../images/movie/{{this}}">
                                     </a>
                              </div>
                                {{/each}}


                          </div>
                        </div>

                    </div>

                </div>
            {{#if inthe}}
                <h2 class="page-heading">showtime &amp; tickets</h2>
                <div class="choose-container">
                    <form id='select' class="select" method='get'>
                          <select name="select_item" id="select-sort" class="select__sort" tabindex="0">
                            <option value="1" selected='selected'>London</option>
                            <option value="2">New York</option>
                            <option value="3">Paris</option>
                            <option value="4">Berlin</option>
                            <option value="5">Moscow</option>
                            <option value="3">Minsk</option>
                            <option value="4">Warsawa</option>
                            <option value="5">Kiev</option>
                        </select>
                    </form>

                    <div class="datepicker">
                      <span class="datepicker__marker"><i class="fa fa-calendar"></i>Date</span>
                      <input type="text" id="datepicker" value='03/10/2014' class="datepicker__input">
                    </div>

                    <a href="#" id="map-switch" class="watchlist watchlist--map watchlist--map-full"><span class="show-map">Show cinemas on map</span><span  class="show-time">Show cinema time table</span></a>

                    <div class="clearfix"></div>

                    <div class="time-select">
                        <div class="time-select__group group--first">
                            <div class="col-sm-4">
                                <p class="time-select__place">Cineworld</p>
                            </div>
                            <ul class="col-sm-8 items-wrap">
                                <li class="time-select__item" data-time='09:40'>09:40</li>
                                <li class="time-select__item" data-time='13:45'>13:45</li>
                                <li class="time-select__item active" data-time='15:45'>15:45</li>
                                <li class="time-select__item" data-time='19:50'>19:50</li>
                                <li class="time-select__item" data-time='21:50'>21:50</li>
                            </ul>
                        </div>

                        <div class="time-select__group">
                            <div class="col-sm-4">
                                <p class="time-select__place">Empire</p>
                            </div>
                            <ul class="col-sm-8 items-wrap">
                                <li class="time-select__item" data-time='10:45'>10:45</li>
                                <li class="time-select__item" data-time='16:00'>16:00</li>
                                <li class="time-select__item" data-time='19:00'>19:00</li>
                                <li class="time-select__item" data-time='21:15'>21:15</li>
                                <li class="time-select__item" data-time='23:00'>23:00</li>
                            </ul>
                        </div>

                        <div class="time-select__group">
                            <div class="col-sm-4">
                                <p class="time-select__place">Curzon</p>
                            </div>
                            <ul class="col-sm-8 items-wrap">
                                <li class="time-select__item" data-time='09:00'>09:00</li>
                                <li class="time-select__item" data-time='11:00'>11:00</li>
                                <li class="time-select__item" data-time='13:00'>13:00</li>
                                <li class="time-select__item" data-time='15:00'>15:00</li>
                                <li class="time-select__item" data-time='17:00'>17:00</li>
                                <li class="time-select__item" data-time='19:0'>19:00</li>
                                <li class="time-select__item" data-time='21:0'>21:00</li>
                                <li class="time-select__item" data-time='23:0'>23:00</li>
                                <li class="time-select__item" data-time='01:0'>01:00</li>
                            </ul>
                        </div>

                        <div class="time-select__group">
                            <div class="col-sm-4">
                                <p class="time-select__place">Odeon</p>
                            </div>
                            <ul class="col-sm-8 items-wrap">
                                <li class="time-select__item" data-time='10:45'>10:45</li>
                                <li class="time-select__item" data-time='16:00'>16:00</li>
                                <li class="time-select__item" data-time='19:00'>19:00</li>
                                <li class="time-select__item" data-time='21:15'>21:15</li>
                                <li class="time-select__item" data-time='23:00'>23:00</li>
                            </ul>
                        </div>

                        <div class="time-select__group group--last">
                            <div class="col-sm-4">
                                <p class="time-select__place">Picturehouse</p>
                            </div>
                            <ul class="col-sm-8 items-wrap">
                                <li class="time-select__item" data-time='17:45'>17:45</li>
                                <li class="time-select__item" data-time='21:30'>21:30</li>
                                <li class="time-select__item" data-time='02:20'>02:20</li>
                            </ul>
                        </div>
                    </div>
                    {{/if}}
                    <!-- hiden maps with multiple locator-->
                    {{!-- <div  class="map">
                        <div id='cimenas-map'></div>
                    </div> --}}

                    <h2 class="page-heading">comments ({{comments.length}})</h2>

                <div class="comment-wrapper">
                        <form id="comment-form" class="comment-form" method="POST" action="/{{name}}">
                            <textarea class="comment-form__text" placeholder='Add you comment here' name="cmnt"></textarea>
                            {{!--<label class="comment-form__info">250 characters left</label> --}}
                            {{!-- <label for="firstname"></label>
                            <input type="text" class="comment-form__text" id="comment" placeholder="Add your comment here" name="cmnt"/> --}}
                            <button type='submit' class="btn btn-md btn--danger comment-form__btn">add comment</button>
                        </form>

                        <div class="comment-sets" id="onclick">
                            {{#each comments}}
                        <div class="comment">
                            <div class="comment__images">
                                <img alt='' src="../images/comment/avatar.jpg">
                            </div>

                            <a href='#' class="comment__author"><span class="social-used fa fa-facebook"></span>{{this.user}}</a>
                            <p class="comment__date">{{this.date}}</p>
                            <p class="comment__message">{{this.cmnt}}</p>
                            <a href='#' class="comment__reply">Reply</a>
                        </div>
                            {{/each}}

                        </div>

                        <div class="comment-more">
                            <a href="#" class="watchlist">Show more comments</a>
                        </div>

                </div>
            </div>
        </div>
    </div>

        </section>

        <div class="clearfix"></div>
{{> footer}}
    </div>


	<!-- JavaScript-->
        <!-- jQuery 1.9.1-->
        <script src="../ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/external/jquery-1.10.1.min.js"><\/script>')</script>
        <!-- Migrate -->
        <script src="../js/external/jquery-migrate-1.2.1.min.js"></script>
        <!-- jQuery UI -->
        <script src="../code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        <!-- Bootstrap 3-->
        <script src="../netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>

        <!-- Mobile menu -->
        <script src="../js/jquery.mobile.menu.js"></script>
         <!-- Select -->
        <script src="../js/external/jquery.selectbox-0.2.min.js"></script>

        <!-- Stars rate -->
        <script src="../js/external/jquery.raty.js"></script>
        <!-- Swiper slider -->
        <script src="../js/external/idangerous.swiper.min.js"></script>
        <!-- Magnific-popup -->
        <script src="../js/external/jquery.magnific-popup.min.js"></script>

        <!--*** Google map  ***-->
        {{!-- <script src="https://maps.google.com/maps/api/js?sensor=true"></script>  --}}
        <!--*** Google map infobox  ***-->
        <script src="../js/external/infobox.js"></script>

        <!-- Share buttons -->
        <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
        <script type="text/javascript" src="../s7.addthis.com/js/300/addthis_widget.js#pubid=ra-525fd5e9061e7ef0"></script>

        <!-- Form element -->
        <script src="../js/external/form-element.js"></script>
        <!-- Form validation -->
        <script src="../js/form.js"></script>

        <!-- Custom -->
        <script src="../js/custom.js"></script>

		<script type="text/javascript">
            $(document).ready(function() {
                init_MoviePage();
                 init_MoviePageFull();
            });
		</script>

</body>

<!-- Mirrored from amovie.gozha.net/movie-page-full.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 15 Mar 2019 13:46:23 GMT -->
</html>
